/Day-1-DrumKit/sounds/
/Day-1-DrumKit/background.jpg
/Day-11-HTML-Video-Player/652333414.mp4
/Day-19-Webcam/node_modules/
/Day-19-Webcam/package-lock.json
/Day-20-Native-Speech-Recognition/node_modules/
/Day-20-Native-Speech-Recognition/package-lock.json